@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

	
 h2 {
  font-weight: 300;
  font-size: 2.4rem;
  color: #979284;
  margin-bottom: 4rem;
  padding: 0;
 } 

 h3 {
  font-weight: 300;
  font-size: 2.0rem;
 } 

 h4 {
  font-weight: bold;
  font-size: 1.4rem;
 } 

 img {
  max-width: 100%;
  height: auto;
 } 

.home_proyectos {
  margin-bottom: 2rem;
}

.boxes > * {
  padding: .5rem;
  color: white;
}

@supports (display: grid) {
  .boxes {
    grid-gap: .5rem;
    grid-auto-rows: minmax(100%, auto);
  }
}


@media screen and (min-width: 40em) {
  .boxes {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2px;
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". .";
}

.boxes li {
    margin-bottom: 6rem;
    background-color: #FBE9DF;
    background-size: cover;
    padding: 24px;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(231,213,203,0.26);
    color: #292823;
    position: relative;
    display: block;
  h4 {
    margin: 40px 0 24px 0;
    padding: 0;
  	font-size: 1.4rem;
  }
  p {
    padding: 0;
    margin: 0 40px 32px 40px;
		font-size: 1rem;
  }
  a {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  img {
    border-radius: 4px;
    position: relative;
  }
  div > div {
    display: inline-block;
    float: left;
    &:first-child {
      width: 100%;
    }
    &:last-child {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
  .social {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
  }

  .social li {
    width: 34px;
    display: inline-block;
    margin: 10px;
  }

  .social a img {
    opacity: .25;
  }

  .social a:hover img {
    opacity: 1;
  }

  .copy {
    margin: 1rem 0 2rem;
    font-size: 14px;
    text-decoration: none;
    color: #6F6F6F;
  } 

  a, small a {
    text-align: center;
  }

  small {
    display: inherit;
  }

  small a {
    text-align: center;
    margin: 10% auto 4%;
    color: pink;
    opacity: .25;
    text-decoration: none;
    border-bottom: none;
  }

  small a:hover {
    opacity: 1;
  }
}