---
layout: default
---


<!-- {% include page-intro.html %} -->
<!-- {{ content }} -->


<!-- <h2>{{ page.title }}</h2>
  {% include page-intro.html %}

  {{ content }}
 -->
<h3>Proyectos</h3>
<ul class="boxes">
  <li>
    <div class="boxes__text-wrapper portfolio-edebe">
      <div>
        <h2>Rotceh Música</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ante massa, commodo ac tortor eu, venenatis hendrerit nisl.</p>
        <a href="#">Ver proyecto</a>
      </div>
      <div>
        <img src="assets/portafolio/rotceh/portada-rotceh.png" alt="" title="">
      </div>
    </div>
  </li>
  
</ul>


  <section class="blog-recent">

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
