---
layout: default
---


<!-- {% include page-intro.html %} -->
<!-- {{ content }} -->


<!-- <h2>{{ page.title }}</h2>
  {% include page-intro.html %}

  {{ content }}
 -->

<h2>Soy María Tuti, ilustradora mexicana, amante de los colores y la música.</h2>

<div class="home_proyectos">
  <h3>Proyectos</h3>
  <ul class="boxes">
    <li>
      <div class="boxes__text-wrapper portfolio-edebe">
        <div>
          <img src="assets/portafolio/rotceh/portada-rotceh.png" alt="" title="">
        </div>
        <div>
          <h4>Rotceh Música</h4>
          <a href="#">Ver proyecto</a>
        </div>
      </div>
    </li>
    <li>
      <div class="boxes__text-wrapper portfolio-edebe">
        <div>
          <img src="assets/portafolio/edebe/portada-edebe.png" alt="" title="">
        </div>
        <div>
          <h4>Edebe</h4>
          
          <a href="#">Ver proyecto</a>
        </div>
      </div>
    </li>
    <li>
      <div class="boxes__text-wrapper portfolio-edebe">
        <div>
          <img src="assets/portafolio/edebe/portada-edebe.png" alt="" title="">
        </div>
        <div>
          <h4>Edebe</h4>
          
          <a href="#">Ver proyecto</a>
        </div>
      </div>
    </li>
  </ul>
</div>

  <section class="blog-recent">

    <h3>Entradas recientes del blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
